body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f6fa;
}

/* ✅ Header */
header {
  text-align: center;
  padding: 25px;
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  color: white;
}

header h1 span {
  background: yellow;
  color: black;
  padding: 5px 12px;
  border-radius: 10px;
}

header p {
  margin-top: 8px;
  font-size: 15px;
}

/* ✅ Filter Box */
.filter-box {
  text-align: center;
  margin: 30px 0;
}

select {
  padding: 12px 25px;
  border-radius: 25px;
  border: none;
  background: #4a00e0;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* ✅ Products Grid */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 30px;
}

/* ✅ Card */
.card {
  background: white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 5px 12px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  border-radius: 12px;
}

.card h3 {
  margin: 15px 0;
}

/* ✅ Card Hover Animation */
.card {
  background: white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 5px 12px rgba(0,0,0,0.2);
  transition: 0.4s ease;   /* Smooth Animation */
  cursor: pointer;
}

/* जब mouse ऊपर जाएगा */
.card:hover {
  transform: translateY(-12px) scale(1.03); /* Lift Effect */
  box-shadow: 0 10px 25px rgba(0,0,0,0.35);
}

/* Image Zoom Effect */
.card img {
  width: 100%;
  border-radius: 12px;
  transition: 0.4s ease;
}

.card:hover img {
  transform: scale(1.08);
}


.info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.price {
  background: green;
  color: white;
  padding: 6px 15px;
  border-radius: 20px;
}

.rating {
  background: orange;
  color: white;
  padding: 6px 15px;
  border-radius: 20px;
}
